<template>
    <header>
        <div class="header__logo-wrap">
            <nuxt-link class="header__logo-link" to="/">
                <svg-icon class="header__logo-icon" name="logo" />
            </nuxt-link>
        </div>

        <Tags />
    </header>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import Tags               from '~/components/header/Tags.vue';

@Component({
  components: {
    Tags
  }
})
export default class Header extends Vue {}

</script>
