<template>
    <div class="container">
        <nav class="tags">
            <nuxt-link v-for="tag in tags" :key="tag.id" :to="{name: 'tag-id', params: {id: tag.id}}"
                       class="tags__link">{{ tag.name }}</nuxt-link>
        </nav>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import { tags }           from '~/store';
import { Tag }            from '~/api/tags/types';

@Component
export default class TagsComponent extends Vue {
  get tags(): Array<Tag> {
    return tags.tags;
  }
}
</script>