<template>
    <div class="container">
        <div v-show="!isLoading">
            <div v-for="post in postList" :key="post.id" class="post">
                <div class="post__header">
                    <p class="post__date">{{ dateFormatter(post.createdAt) }}</p>
                    <nuxt-link :to="{name: 'post-id', params: {id: post.id}}" class="post__title">{{ post.activePostItem.title }}</nuxt-link>
                    <nav class="tags tags--post">
                        <nuxt-link v-for="tag in post.tags" :key="tag.id" :to="{name: 'tag-id', params: {id: tag.id}}"
                                   class="tags__link">{{ tag.name }}</nuxt-link>
                    </nav>
                </div>
                <div v-if="post.restPostItems.length > 0" class="post__langs">
                    <p class="post__langs-title">Also available in</p>
                    <a v-for="postItem in post.restPostItems" class="post__langs-link" href=""
                       @click.prevent="changeLang(post.id, postItem.lang.id)">
                        <img v-if="postItem.lang.logo" class="post__langs-logo" :src="postItem.lang.logo">
                        {{ postItem.lang.name }}
                    </a>
                </div>
                <div class="post__content">
                    <div class="content" v-html="post.activePostItem.description"></div>
                    <a href="" class="post__detail-link" @click.prevent="goDetail(post)">Read detail →</a>
                </div>
            </div>

            <div v-if="!isPostsEnd" class="post__more">
                <button class="post__more-btn" @click="loadMore">Load more</button>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue }           from 'nuxt-property-decorator';
import { posts }                    from '~/store';
import { PostList as PostListType } from '~/store/posts';
import dateFormatter                from '~/helpers/date-formatter';
import highlightCode                from '~/helpers/highlight-code';

@Component
export default class PostList extends Vue {
  mounted(): void {
    if(process.client) {
      highlightCode();
    }
  }

  get postList(): Array<PostListType> {
    return posts.postList;
  }

  get isPostsEnd(): boolean {
    return posts.isPostsEnd;
  }

  get isLoading(): boolean {
    return posts.isLoading;
  }

  loadMore(): void {
    posts.getPosts();
  }

  dateFormatter(date: Date): string {
    return dateFormatter(date);
  }

  changeLang(postId: number, langId: number): void {
    posts.SET_POST_LIST_CURRENT_LANG({ postId, langId });
  }

  goDetail(post: PostListType): void {
    this.$router.push({name : 'post-id', params : {id : post.id.toString()}});
  }
}
</script>