<template>
    <div class="container">
        <div class="post post--detail">
            <div class="post__header">
                <p class="post__date">{{ dateFormatter(postDetail.createdAt) }}</p>
                <p class="post__title">{{ postDetail.activePostItem.title }}</p>
                <nav class="tags tags--post">
                    <nuxt-link v-for="tag in postDetail.tags" :key="tag.id" :to="{name: 'tag-id', params: {id: tag.id}}"
                               class="tags__link">{{ tag.name }}</nuxt-link>
                </nav>
            </div>
            <div v-if="postDetail.restPostItems.length > 0" class="post__langs">
                <p class="post__langs-title">Also available in</p>
                <a v-for="postItem in postDetail.restPostItems" class="post__langs-link" href=""
                   @click.prevent="changeLang(postItem.lang.id)">
                    <img v-if="postItem.lang.logo" class="post__langs-logo" :src="postItem.lang.logo">
                    {{ postItem.lang.name }}
                </a>
            </div>
            <div class="post__content">
                <div class="content" v-html="postDetail.activePostItem.text"></div>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue }               from 'nuxt-property-decorator';
import { postDetail }                   from '~/store';
import { PostDetail as PostDetailType } from '~/store/post-detail';
import dateFormatter                    from '~/helpers/date-formatter';
import highlightCode                    from '~/helpers/highlight-code';

@Component
export default class PostDetailComponent extends Vue {
  mounted(): void {
    if(process.client) {
      highlightCode();
    }
  }

  get postDetail(): PostDetailType {
    return postDetail.postDetail;
  }

  dateFormatter(date: Date): string {
    return dateFormatter(date);
  }

  changeLang(langId: number): void {
    postDetail.SET_POST_DETAIL_CURRENT_LANG({ langId });
  }
}
</script>