.header__logo-wrap {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;

    @include tablet {
        margin-bottom: 30px;
    }

    @include mobile {
        margin-bottom: 25px;
    }
}

.header__logo-link {
    display: block;
    width: 115px;
    height: 50px;
}

.header__logo-icon {
    width: 100%;
    height: 100%;
    color: #CF5858;
    transition: 0.1s all;

    &:hover {
        color: #2237d6
    }
}