.post {
    margin-bottom: 120px;

    @include tablet {
        margin-bottom: 60px;
    }

    @include mobile {
        margin-bottom: 60px;
    }
}

.post--detail {
    .post__title {
        &:hover {
            color: inherit;
        }
    }
}

.post__header {
    text-align: center;
}

.post__date {
    margin: 0;
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 10px;
    color: $grey-main;

    @include mobile {
        font-size: 13px;
        line-height: 18px;
    }
}

.post__title {
    margin: 0 0 30px;
    display: inline-block;
    max-width: 70%;
    font-size: 28px;
    font-weight: 600;
    line-height: 46px;
    color: #000;
    text-decoration: none;
    transition: 0.1s all;

    @include tablet {
        font-size: 24px;
        line-height: 38px;
        margin-bottom: 25px;
    }

    @include mobile {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 20px;
    }

    &:hover {
        color: $blue-main;
    }
}

.post__content {
    margin-top: 60px;

    @include tablet {
        margin-top: 40px;
    }

    @include mobile {
        margin-top: 30px;
    }
}

.post__langs {
    margin-top: 30px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 32px;

    @include mobile {
        margin-left: 0;
        font-size: 14px;
    }
}

.post__langs-title {
    margin: 0 18px 0 0;
    font-style: italic;
}

.post__langs-logo {
    margin-right: 10px;
    width: 24px;
    height: 24px;

    @include mobile {
        width: 22px;
        height: 22px;
    }
}

.post__langs-link {
    display: flex;
    align-items: center;
    color: $blue-main;
    text-decoration: none;
    transition: 0.1s all;

    &:hover {
        text-decoration: none;
        color: $blue-light;
    }
}

.post__more {
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
}

.post__more-btn {
    background-color: transparent;
    padding: 12px 30px;
    border-collapse: collapse;
    outline: none;
    border: 2px solid #999;
    color: #999;
    cursor: pointer;
    transition: 0.1s all;

    &:hover {
        color: #000;
        border-color: #000;
    }
}

.post__detail-link {
    color: $blue-main;
    text-decoration: none;
    font-size: 16px;
    transition: 0.1s all;

    &:hover {
        color: $blue-light;
    }

    @include mobile {
        font-size: 14px;
    }
}