.tags {
    display: flex;
    justify-content: center;

    @include mobile {
        overflow-x: auto;
        justify-content: flex-start;

        // hide scrollbar
        &::-webkit-scrollbar {
            width: 0px;
            background: transparent;
            scrollbar-width: none;
            -ms-overflow-style: none;
        }
    }
}

.tags--post {
    flex-wrap: wrap;

    .tags__link {
        font-size: 14px;
        line-height: 28px;
        margin: 0 15px;

        @include mobile {
            margin: 0 12px;
        }
    }    
}

.tags__link {
    margin: 0 25px;
    font-size: 16px;
    line-height: 32px;
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    white-space: nowrap;

    &:hover {
        border-bottom-color: $grey-main;
    }

    @include mobile {
        margin: 0 20px;
    }
}

.tags__current {
    margin-bottom: 120px;
    text-align: center;
    background-color: $grey-light;
    padding: 30px 0;
    margin-top: -30px;

    @include tablet {
        margin-bottom: 70px;
    }

    @include mobile {
        margin-top: 0;
        margin-bottom: 60px;
    }
}

.tags__current-name {
    margin: 0;
    font-size: 24px;
    color: #6b6b6b;

    @include tablet {
        font-size: 20px;
    }

    @include mobile {
        font-size: 18px;
    }
}

.tags__slide {
    margin: 0 25px;
    width: auto;
    min-width: 130px;
    text-align: center;

    @include tablet {
        margin: 0 20px;
    }

    @include mobile {
        margin: 0 15px;
    }
}