<template>
    <PostDetail />
</template>

<script lang="ts">
import { Component, Vue }               from 'nuxt-property-decorator';
import { Context }                      from '@nuxt/types';
import { postDetail }                   from '~/store';
import { PostDetail as PostDetailType } from '~/store/post-detail';
import PostDetail                       from '~/components/posts/PostDetail.vue';
import { PageHead }                     from '~/pages/types';

@Component({
  components: {
    PostDetail
  }
})
export default class PostDetailPage extends Vue {
  head(): PageHead {
    return {
      title: this.postDetail.activePostItem.title
    };
  }

  get postDetail(): PostDetailType {
    return postDetail.postDetail;
  }

  async middleware(ctx: Context): Promise<void> {
    try {
      await postDetail.getPost(Number(ctx.route.params.id));
    } catch(e) {
      ctx.error({ statusCode : 404, message : 'Post not found' });
    }
  }
}
</script>