* {
    font-family: 'Noto Serif', serif;
}

html, body, #__nuxt, #__layout {
    height: 100%;
    min-height: 100%;
}

.wrapper {
    padding: 60px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100%;

    @include tablet {
        padding-top: 40px;
    }

    @include mobile {
        padding-top: 30px;
    }
}

.wrapper__content {
    margin-top: 150px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;

    @include tablet {
        margin-top: 100px;
    }

    @include mobile {
        margin-top: 60px;
    }
}

.container {
    max-width: 1196px;
    padding: 0 15px;
    margin: 0 auto;
}

.error {
    text-align: center;
}

.error__value {
    margin: 0;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    color: #d43131;
}

.error__msg {
    margin: 15px 0 0;
    color: $grey-main;
    font-size: 16px;
}

.content {
    p {
        margin: 30px 0;
        font-size: 16px;
        line-height: 32px;
        overflow: hidden;

        @include tablet {
            margin: 20px 0;
        }

        @include mobile {
            margin: 20px 0;
            font-size: 14px;
            line-height: 28px;
        }
    }

    h2 {
        @include tablet {
            font-size: 21px;
            line-height: normal;
        }

        @include mobile {
            font-size: 18px;
            line-height: normal;
        }
    }

    h3 {
        @include tablet {
            font-size: 18px;
            line-height: normal;
        }

        @include mobile {
            font-size: 16px;
            line-height: normal;
        }
    }

    a {
        color: $blue-main;
        text-decoration: none;
        transition: 0.1s all;

        &:hover {
            color: $blue-light;
        }
    }

    li {
        margin: 15px 0;

        @include mobile {
            font-size: 14px;
        }
    }

    img {
        max-width: 100%;
    }

    code {
        font-family: 'Source Code Pro', monospace;
        line-height: normal;
        font-size: 16px;

        @include mobile {
            font-size: 14px;
        }

        * {
            font-family: 'Source Code Pro', monospace;
        }
    }
}