<template>
    <div class="wrapper">
        <Header />
        <div class="wrapper__content">
            <nuxt />
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import Header             from '~/components/header/Header.vue';

@Component({
  components: {
    Header
  }
})
export default class Default extends Vue {}

</script>

<style lang="scss">
  @import "~/styles/index.scss";
</style>
