<template>
    <div class="container">
        <div class="error">
            <p class="error__value">404</p>
            <p class="error__msg">Something went wrong :(</p>
        </div>
    </div>
</template>