<template>
    <PostList />
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import { posts }          from '~/store';
import PostList           from '~/components/posts/PostList.vue';
import { PageHead }       from '~/pages/types';

@Component({
  components: {
    PostList
  }
})
export default class IndexPage extends Vue {
  head(): PageHead {
    return {
      title: 'alexos'
    };
  }

  async middleware(): Promise<void> {
    posts.RESET_POSTS_STATE();
    await posts.getPosts();
  }
}
</script>