<template>
    <div>
        <div class="tags__current">
            <p class="tags__current-name">{{ tagDetail.name }}</p>
        </div>

        <PostList />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'nuxt-property-decorator';
import { Context }        from '@nuxt/types';
import { posts, tags }    from '~/store';
import { Tag }            from '~/api/tags/types';
import PostList           from '~/components/posts/PostList.vue';
import { PageHead }       from '~/pages/types';

@Component({
  components: {
    PostList
  }
})
export default class TagPage extends Vue {
  head(): PageHead {
    return {
      title: tags.tagDetail.name
    };
  }

  async middleware(ctx: Context): Promise<void> {
    try {
      posts.RESET_POSTS_STATE();
      
      tags.SET_TAG_DETAIL(Number(ctx.route.params.id));
      
      await posts.getPostsByTag();
    } catch(e) {
      ctx.error({ statusCode : 404, message : 'Tag not found' });
    }
  }

  get tagDetail(): Tag {
    return tags.tagDetail;
  }
}
</script>